Assignment1/Flowers/test
Assignment1/Flowers/train
Assignment1/Flowers.zip

Assignment2/runs/
Assignment2/yolov8m-seg.pt
Assignment2/yolov8m.pt
Assignment2/yolov8n-seg.pt
Assignment2/yolov8n.pt

ch10_TimeSeries/BTC_USD_2019-02-28_2020-02-27-CoinDesk.csv